# If running on PHP 7.4, you may not need to specify it manually unless needed
# AddHandler application/x-httpd-php74 .php

DirectoryIndex index.php
<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /

    RewriteRule ^$ public/index.php [L]
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

</IfModule>